<!DOCTYPE html>
<html>
<head>
    <title>Instructions</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Gesture Instructions</h1>
    <table>
        <tr>
            <th>Gesture</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>👍 Thumbs Up</td>
            <td>Open Google</td>
        </tr>
        <tr>
            <td>🖐 Open Palm</td>
            <td>Open YouTube</td>
        </tr>
        <tr>
            <td>☝ One Finger</td>
            <td>Open Notepad</td>
        </tr>
        <tr>
            <td>✌ Three Fingers</td>
            <td>Open Calculator</td>
        </tr>
        <tr>
            <td>Four Fingers</td>
            <td>Open Explorer</td>
        </tr>
        <tr>
            <td>Little Finger</td>
            <td>Stop Control Mode</td>
        </tr>
        <tr>
            <td>Index + Pinky</td>
            <td>Browser Back</td>
        </tr>
        <tr>
            <td>Thumb + Pinky</td>
            <td>Close Window</td>
        </tr>
        <tr>
            <td>Middle Finger</td>
            <td>Show Desktop</td>
        </tr>
    </table>
</body>
</html>
